body {
  width:99%;
  height:97vh;
}

.board {
  width:45%;
  height:90%;
  background-image:url("tantfantboard.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  margin-top:3%;
  margin-left:27%;
}

.gamePiece {
  width:5.5%;
  height:6%;
  border:2px solid orange;
  background-color:orange;
  border-radius:50%;
  position:relative;
  top:2.5%;
  left:2.75%;
}
