body {
  width:99%;
  height:97vh;
}

div {
  width:60%;
  height:100%;
  background-image:url("tantfantboard.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-color:#663300; //Incase Image Is Unavailable
}
